<% layout('layouts/boilerplate') %>
    <div id="map">
    </div>
    <h2 class="mt-4">All campgrounds</h2>
    <div class="row">
        <% for (let campground of campgrounds) {%>
            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="fs-5 fw-bold card-title">
                            <a class="link-primary w-100" href="/campgrounds/<%= campground._id %>">
                                <div class="d-flex justify-content-center">
                                    <img src="<%= (campground.image.length>0) ? campground.image[0].thumbindex : '' %> "
                                        alt="" class="img-fluid img-index mb-3 d-block">
                                </div>
                                <%= campground.title %>

                            </a>
                        </div>
                        <div class="card-text">
                            <%= campground.description %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <script>
        // const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const campgrounds = { features: <% - JSON.stringify(campgrounds) %> }
        console.log('index: ', campgrounds)

    </script>

    <script src="/js/clusterMap.js"></script>